!!!
%html
  %head
    %title= "<%= theme_name.titleize %> Theme"
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    <%%= csrf_meta_tags %>
    <%%= csp_meta_tag %>
    <%%= stylesheet_link_tag "<%= theme_name %>", media: "all" %>
    <%%= javascript_importmap_tags %>

  %body{class: "<%= theme_name %>-bg-primary"}
    %header{class: "<%= theme_name %>-py-4 <%= theme_name %>-bg-secondary"}
      .container{class: "<%= theme_name %>-mx-auto <%= theme_name %>-px-4"}
        %h1{class: "<%= theme_name %>-text-2xl <%= theme_name %>-font-bold"}= "<%= theme_name.titleize %> Theme"

    %main{class: "<%= theme_name %>-container <%= theme_name %>-mx-auto <%= theme_name %>-px-4 <%= theme_name %>-py-8"}
      <%%= yield %>

    %footer{class: "<%= theme_name %>-py-4 <%= theme_name %>-bg-secondary <%= theme_name %>-text-white"}
      .container{class: "<%= theme_name %>-mx-auto <%= theme_name %>-px-4"}
        %p
          &copy; #{<%%= Time.current.year %>} - <%= theme_name.titleize %> Theme
          
    <%%= javascript_import_module_tag "<%= theme_name %>/all" %>
